<div class="d-flex">
<div class="col-6 mt-3">
  <h4 class="text-center text-booking m-3">New requests</h4>
  <ul class="w-100">
    <% @bookings.each do |booking| %>
      <% @renter = User.find(booking.user_id) %>
      <% @plant = Plant.find(booking.plant_id) %>
        <% if booking.status == "pending" %>
      <li class="border-bottom pt-2 col-12 pl-0">
        <div class="row w-80 m-2 mx-auto text-right">
          <div class="col-3">
            <%= cl_image_tag @plant.photo.key, height: 100, width: 100, crop: :fill, class: "border-radius" %>
          </div>
          <div class="col-6 text-left">
            <h5><%= @plant.category %></h5>
            <p>From: <%= booking.pick_up_at %> to: <%= booking.return_at %></p>
            <p> Renter : <%=@renter.last_name.upcase %> <%= @renter.first_name.capitalize %></p>
          </div>
          <div class="col-3 text-left status-booking">
            <%= button_to "Accept", accept_owner_booking_path(booking), method: :patch, class: "btn btn-success mb-2 text-white w-100" %>
            <%= button_to "Decline", decline_owner_booking_path(booking), method: :patch, class: "btn btn-danger mb-2 w-100" %>
          </div>
        </div>
      </li>
      <% end %>
    <% end %>
  </ul>
</div>

<div class="col-6 mt-3">
  <h4 class="text-center text-booking m-3">Requests accepted</h4>
    <ul class="w-100">
    <% @bookings.each do |booking| %>
      <% @renter = User.find(booking.user_id) %>
      <% @plant = Plant.find(booking.plant_id) %>
        <% if booking.status == "accepted" %>
      <li class="border-bottom pt-2 col-12 pl-0">
        <div class="row w-80 m-2 mx-auto text-right">
          <div class="col-3">
            <%= cl_image_tag @plant.photo.key, height: 75, width: 75, crop: :fill, class: "border-radius" %>
          </div>
          <div class="col-6 text-left">
            <h5><%= @plant.category %></h5>
            <p>From: <%= booking.pick_up_at %> to: <%= booking.return_at %></p>
            <p> Renter : <%=@renter.last_name.upcase %> <%= @renter.first_name.capitalize %></p>
          </div>
        </div>
      </li>
      <% end %>
    <% end %>
  </ul>
</div>
</div>
</div>
