<div class="navbar-planthy sticky-top mb-4">
  <div class="row d-flex justify-content-center">
    <div class="col-3 dashboard border-bottom text-center nav-bar">
      <% if user_signed_in? %>
        <%= link_to "Bookings", bookings_path, class: "p-5 button-to" %>
        <%= link_to "Reservations", owner_bookings_path, class: "p-3 button-to" %>
      <% end %>
    </div>
    <div class="col-5 planthy text-center nav-bar">
      <h1 class="planthy-title"><%= link_to "Planthy", root_path %></h1>
    </div>
    <% if user_signed_in? %>
      <div class="col-3 login text-center border-bottom nav-bar">
        <%= link_to "My plants", owner_my_plants_path, class: "p-3 button-to" %>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "p-3 button-to" %>
        <%= image_tag "https://p5.storage.canalblog.com/58/47/1314207/118912795_o.png", class: "avatar" %>
      </div>
    <% else %>
      <div class="col-2 login text-center border-bottom">
        <%= link_to "Log in", new_user_session_path %>
      </div>
    <% end %>
  </div>
</div>
