<div class ="container" class= "col-12">
  <div class="d-flex align-items-end m-5">
    <div class="my-card-full m-0">
      <div class="my-card-vignet-full" style="background-image: url('<%= cl_image_path @plant.photo.key, height: 200, crop: :fill %>')">
      </div>
      <div class="my-card-infos">
        <div class="my-card-infos-item d-flex">
          <h4 class="title"> <%= @plant.variety %> <br> <%= @plant.category %> </h4>
        </div>

        <div class="my-card-infos-item d-flex">
          <div class="description-full">
            <%= @plant.description %>
          </div>
        </div>

        <div class="my-card-infos-item d-flex">
          <div>
            <div class="owner"> <%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %> </div>
            <div class="address"><%= @user.address %></div>
          </div>
          <div class="price-full">
            <%= @plant.price_per_day %> $/day
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class= "container mt-5 d-flex flex-column booking-card pb-2 col-4">
    <p><%= @plant.price_per_day %>$<span>/day</span></p>
    
      <%= simple_form_for [@plant, @booking] do |f| %>
        <div class="col-12 m-2">
          <div class="row text-left w-100">
            <%= f.input :pick_up_at, label: "From" %>
          </div>
          <div class="row text-left col">
            <%= f.input :return_at, label: "To" %>
          </div>
        </div>
        <div class="col-12 text-center">
          <%= f.button :submit, class: "btn btn-warning col-6 m-1", value: "Book now!" %>
        </div>
      <% end %>
  </div>
</div>
